/* CSS for Login Container */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* CSS for Login Form */
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container .form-group {
  margin-bottom: 15px;
}

.login-container label {
  font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: calc(100% - 30px); /* Adjusted width to consider padding */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}
